.container{
  background-image: url("../images/logo3.png");
  background-size: 65%;
  background-repeat: no-repeat; /* Không lặp lại ảnh nền */
  background-position: center; 
  background-position-y: 300px;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}


/*Header*/

.header {
  display: flex;
  align-items: center;
  padding: 0px 0px;
  background: linear-gradient(to right, #134f98, #4990e7);
}

.logo {
  max-width: 200px;
  height: auto;
  margin-right: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
}

.footer-text1 {
  margin: 0;
  font-size: 60px;
  font: 50px 96px/1.2 Inter, Helvetica, Arial, serif;
  color: #134f98;
  text-align: center;
  text-shadow: 0 4px 4px rgb(255, 255, 255);
}

.footer-text2 {
  margin: 0;
  font-size: 30px;
  font: 50px 96px/1.2 Inter, Helvetica, Arial, serif;
  color: #fdfdfd;
  text-align: center;
  text-shadow: 0 4px 4px rgb(255, 255, 255);
}



/*Button*/

button {
  flex: 1;
  max-width: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
}

.btn-hoc12 .btn-content {
  background-color: #343434; /* Nền nút 1 */
  color: #D9D9D9; /* Màu chữ nút 1 */
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.btn-hoc12 .btn-content:hover {
  background-color: #4a4a4a;
}

.btn-hoc11 .btn-content {
  background-color: #D9D9D9; /* Nền nút 2 */
  color: #343434; /* Màu chữ nút 2 */
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.btn-hoc11 .btn-content:hover {
  background-color: #b0b0b0;
}

.btn-hoc12-1 .btn-content {
  background-color: #D9D9D9; /* Nền nút 1 */
  color: #343434; /* Màu chữ nút 1 */
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.btn-hoc12-1 .btn-content:hover {
  background-color: #4a4a4a;
}

.btn-hoc11-1 .btn-content {
  background-color: #343434; /* Nền nút 2 */
  color: #d9d9d9; /* Màu chữ nút 2 */
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.btn-hoc11-1 .btn-content:hover {
  background-color: #b0b0b0;
}

.btn-view-results{
  width: 100px;
  height: 50px;
  margin-left: 60%;
  margin-top: 30px;
  color: #d9d9d9; /* Màu chữ nút 2 */
  background-color: #343434;
}


.btn-view-results .btn-content:hover {
  background-color: #b0b0b0;
}



.button-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px;
}




/*Main-content*/

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 10;
  width: 100%;
  background-position: center 100px;
  background-blend-mode: lighten;
}

.header-content {
  align-items: center;
  justify-content: center;
  margin: 50px;
  font-size: 30px;
  font: 50px 96px/1.2 Inter, Helvetica, Arial, serif;
  color: linear-gradient(to right, #ad1616, #0a50a5);
  text-align: center;
  text-shadow: 0 4px 4px rgb(255, 255, 255);
  color: #f41a1a;
  text-align: left;
  font-weight: bold;
}

.subjects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.semester-labels {
  display: flex;
  width: 100%-100px; /* Chiều rộng bằng 100% trừ đi chiều rộng của subject-names */
  margin-left: 110px; /* Tạo khoảng trống cho subject-names */
}

.semester-labels span {
  flex: 1;
  text-align: left;
}

.content {
  display: flex;
}

.subject-names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100px; /* Chiều rộng cố định cho subject-names */
  height: 30px;
  margin-top: 20px;
  padding-right: 0px; /* Khoảng cách giữa subject-names và input */
}

.subject-names span {
  margin-bottom: 32px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.input div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px; 
  box-sizing: border-box; 
}

.input input {
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  width: 80px;
  box-sizing: border-box;
}

.input div:nth-child(odd) {
  background-color: #343434;
  color: white;
}


.input div input {
  background-color: inherit;
  color: inherit;
}



.main-content{
  background-image: "i";
}


.subjects {
  display: inline-block;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}



.output {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Khoảng cách giữa các ô */
  padding-inline: 10px;
  flex-wrap: nowrap; /* Giữ các ô trên một hàng */
  margin-bottom: 20px;
  justify-content: center;
}

.output div {
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 5px;
  padding-inline: 5px;
  height: 30px;
  width: 80px;
  text-align: center;
  box-sizing: border-box;
  color: inherit; 
  border: 2px solid #343434; /* Thêm viền tương tự như của input */
  background-color: inherit; /* Để nền giống với input nếu cần */
}


.subject-labels {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Khoảng cách giữa các nhãn */
  padding-inline: 10px; 
  justify-content: center; /* Canh giữa các nhãn */
}

.subject-labels span {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 80px; 
  text-align: center;
  box-sizing: border-box;
  color: #343434; /* Màu chữ */
  font-weight: bold; /* Đậm chữ cho dễ nhìn */
}

.subject-labels .civic-label{
  max-width: 100px;
}





.additional-info-label {
  align-items: center;
  justify-content: left;
  margin-top: 50px;
  font-size: 20px;
  font: 50px 96px/1.2 Inter, Helvetica, Arial, serif;
  color: linear-gradient(to right, #ad1616, #0a50a5);
  text-align: center;
  text-align: left;
  font-weight: bold;
}



.additional-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px; /* Khoảng cách giữa các checkbox */
  margin-top: 20px; /* Khoảng cách giữa thông tin bổ sung và phần trên */
}

.additional-info div {
  display: flex;
  align-items: center;
  
}



.additional-info input[type="checkbox"] {
  width: 20px; /* Tăng kích thước checkbox */
  height: 20px; /* Tăng kích thước checkbox */
  transform: scale(1.5); /* Tăng kích thước tổng thể của checkbox */
  margin-right: 10px; /* Khoảng cách giữa checkbox và nhãn */
}

.additional-info input[type="checkbox"]:checked {
  background-color:#fdfdfd; /* Màu nền khi checkbox được chọn */
  border-color: #1c5bbf; /* Thay đổi màu viền khi checkbox được chọn */
}

.additional-info label {
  font-size: 18px; /* Tăng kích thước chữ */
}



.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #D9D9D9;
  color: #f41a1a;
  text-align: center;
  border-radius: 2px;
  padding: 50px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.5s, bottom 0.5s;
}

.toast.show {
  visibility: visible;
  opacity: 1;
  top: 50%;
}

.model-infor{
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding: 20px;
}

.semester{
  font-weight: bold;
  font-size: 22px;
  padding: 10px;
  text-align: left;
}


.data_analysis_img {
  max-width: 750px;       
}


.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px; /* Tăng độ rộng nếu cần để chứa nội dung dài */
  background-color: #555;
  color: #fff;
  text-align: left; /* Căn lề trái cho nội dung */
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -125px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.errorMessage {
  color: #d9534f; /* Màu đỏ nhạt để hiển thị lỗi */
  font-weight: bold; /* In đậm chữ */
  margin-top: 10px; /* Tạo khoảng cách phía trên thông báo */
  background-color: #f2dede; /* Màu nền nhạt cho thông báo lỗi */
  border: 1px solid #ebccd1; /* Đường viền nhẹ cho thông báo lỗi */
  padding: 10px; /* Tạo khoảng cách giữa nội dung và viền */
  border-radius: 4px; /* Bo góc nhẹ cho khung thông báo */
  display: none; /* Ẩn thông báo lỗi ban đầu */
}
