<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='Style/main.css') }}" rel="stylesheet" />
    <title>Score Predict | Grade 11</title>
    <script src="{{ url_for('static', filename='Action/script.js') }}"></script>
</head>
<body>
    <div class="container"> 
        <div class="header">
            <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
            <div class="footer">    
                <div class="footer-text1">UIT</div>
                <div class="footer-text2">Dự đoán kết quả năm 12</div>
            </div>
        </div>
        <div class="sub-header"></div>
        <div class="main-content">
            <div class="button-header">
                <button class="btn-hoc12" onclick="goBack()">
                    <div class="btn-content">
                        <div class="btn-icon"></div>
                        <span class="btn-text">Bạn đang học 11</span>
                    </div>
                </button>
                <button class="btn-hoc11" onclick="redirectToPage2()">
                    <div class="btn-content">
                        <div class="btn-icon"></div>
                        <span class="btn-text">Bạn đang học 12</span>
                    </div>
                </button>
            </div>
            <div class="header-content">Kết quả dự đoán điểm thi THPT</div>
            <div class="subjects">
                <div class="model1">
                    <div class="model-infor">Linear Regression</div>
                    <div class="semester"> Điểm học kỳ I</div>
                    <div class="subject-labels">
                        <span class="math-label">Điểm Toán</span>
                        <span class="literature-label">Điểm Văn</span>
                        <span class="physics-label">Điểm Lý</span>
                        <span class="chemistry-label">Điểm Hóa</span>
                        <span class="biology-label">Điểm Sinh</span>
                        <span class="history-label">Điểm Sử</span>
                        <span class="geography-label">Điểm Địa</span>
                        <span class="english-label">Điểm Anh</span>
                        <span class="civic-label">Điểm GDCD</span>
                    </div>
                    <div class="output">
                        <div class="output-math">{{ kq_Model1['Toán_1'][0] }}</div>
                        <div class="output-literature">{{ kq_Model1['Văn_1'][0] }}</div>
                        <div class="output-physics">{{ kq_Model1['Lý_1'][0] }}</div>
                        <div class="output-chemistry">{{ kq_Model1['Hoá_1'][0] }}</div>
                        <div class="output-biology">{{ kq_Model1['Sinh_1'][0] }}</div>
                        <div class="output-history">{{ kq_Model1['Sử_1'][0] }}</div>
                        <div class="output-geography">{{ kq_Model1['Địa_1'][0] }}</div>
                        <div class="output-english">{{ kq_Model1['Anh_1'][0] }}</div>
                        <div class="output-civic">{{ kq_Model1['GDCD_1'][0] }}</div>
                    </div>
                    <div class="semester"> Điểm học kỳ II</div>
                    <div class="subject-labels">
                        <span class="math-label">Điểm Toán</span>
                        <span class="literature-label">Điểm Văn</span>
                        <span class="physics-label">Điểm Lý</span>
                        <span class="chemistry-label">Điểm Hóa</span>
                        <span class="biology-label">Điểm Sinh</span>
                        <span class="history-label">Điểm Sử</span>
                        <span class="geography-label">Điểm Địa</span>
                        <span class="english-label">Điểm Anh</span>
                        <span class="civic-label">Điểm GDCD</span>
                    </div>
                    <div class="output">
                        <div class="output-math">{{ kq_Model1['Toán_2'][0] }}</div>
                        <div class="output-literature">{{ kq_Model1['Văn_2'][0] }}</div>
                        <div class="output-physics">{{ kq_Model1['Lý_2'][0] }}</div>
                        <div class="output-chemistry">{{ kq_Model1['Hoá_2'][0] }}</div>
                        <div class="output-biology">{{ kq_Model1['Sinh_2'][0] }}</div>
                        <div class="output-history">{{ kq_Model1['Sử_2'][0] }}</div>
                        <div class="output-geography">{{ kq_Model1['Địa_2'][0] }}</div>
                        <div class="output-english">{{ kq_Model1['Anh_2'][0] }}</div>
                        <div class="output-civic">{{ kq_Model1['GDCD_2'][0] }}</div>
                    </div>
                </div>
                <select id="imageDropdown1" onchange="showImage(1)">
                    <option value="">-- Xem thêm --</option>
                    <option value="{{ url_for('static', filename='images/LR_accuracy.png') }}">Độ chính xác của Model</option>
                    <option value="{{ url_for('static', filename='images/LR_Maths_1_12_spectrum.png') }}">Phổ điểm Toán HKI</option>
                    <option value="{{ url_for('static', filename='images/LR_Literature_1_12_spectrum.png') }}">Phổ điểm Văn HKI</option>
                    <option value="{{ url_for('static', filename='images/LR_Physics_1_12_spectrum.png') }}">Phổ điểm Lý HKI</option>
                    <option value="{{ url_for('static', filename='images/LR_Chemistry_1_12_spectrum.png') }}">Phổ điểm Hóa HKI</option>
                    <option value="{{ url_for('static', filename='images/LR_Biology_1_12_spectrum.png') }}">Phổ điểm Sinh HKI</option>
                    <option value="{{ url_for('static', filename='images/LR_History_1_12_spectrum.png') }}">Phổ điểm Sử HKI</option>
                    <option value="{{ url_for('static', filename='images/LR_Geography_1_12_spectrum.png') }}">Phổ điểm Địa HKI</option>
                    <option value="{{ url_for('static', filename='images/LR_English_1_12_spectrum.png') }}">Phổ điểm Anh HKI</option>
                    <option value="{{ url_for('static', filename='images/LR_Civic%20Education_1_12_spectrum.png') }}">Phổ điểm GDCD HKI</option>
                    <option value="{{ url_for('static', filename='images/LR_Maths_2_12_spectrum.png') }}">Phổ điểm Toán HKII</option>
                    <option value="{{ url_for('static', filename='images/LR_Literature_2_12_spectrum.png') }}">Phổ điểm Văn HKII</option>
                    <option value="{{ url_for('static', filename='images/LR_Physics_2_12_spectrum.png') }}">Phổ điểm Lý HKII</option>
                    <option value="{{ url_for('static', filename='images/LR_Chemistry_2_12_spectrum.png') }}">Phổ điểm Hóa HKII</option>
                    <option value="{{ url_for('static', filename='images/LR_Biology_2_12_spectrum.png') }}">Phổ điểm Sinh HKII</option>
                    <option value="{{ url_for('static', filename='images/LR_History_2_12_spectrum.png') }}">Phổ điểm Sử HKII</option>
                    <option value="{{ url_for('static', filename='images/LR_Geography_2_12_spectrum.png') }}">Phổ điểm Địa HKII</option>
                    <option value="{{ url_for('static', filename='images/LR_English_2_12_spectrum.png') }}">Phổ điểm Anh HKII</option>
                    <option value="{{ url_for('static', filename='images/LR_Civic Education_2_12_spectrum.png') }}">Phổ điểm GDCD HKII</option>
                </select>
                <div id="showImageDropdown1" style="margin-top: 20px;">
                    <img class="data_analysis_img" id="displayedImage1" src="" alt="Chart" style="display: none;">
                </div>
                <div class="model2">
                    <div class="model-infor">Multilayer Perceptron</div>
                    <div class="semester"> Điểm học kỳ I</div>
                    <div class="subject-labels">
                        <span class="math-label">Điểm Toán</span>
                        <span class="literature-label">Điểm Văn</span>
                        <span class="physics-label">Điểm Lý</span>
                        <span class="chemistry-label">Điểm Hóa</span>
                        <span class="biology-label">Điểm Sinh</span>
                        <span class="history-label">Điểm Sử</span>
                        <span class="geography-label">Điểm Địa</span>
                        <span class="english-label">Điểm Anh</span>
                        <span class="civic-label">Điểm GDCD</span>
                    </div>
                    <div class="output">
                        <div class="output-math">{{ kq_Model2['Toán_1'][0] }}</div>
                        <div class="output-literature">{{ kq_Model2['Văn_1'][0] }}</div>
                        <div class="output-physics">{{ kq_Model2['Lý_1'][0] }}</div>
                        <div class="output-chemistry">{{ kq_Model2['Hoá_1'][0] }}</div>
                        <div class="output-biology">{{ kq_Model2['Sinh_1'][0] }}</div>
                        <div class="output-history">{{ kq_Model2['Sử_1'][0] }}</div>
                        <div class="output-geography">{{ kq_Model2['Địa_1'][0] }}</div>
                        <div class="output-english">{{ kq_Model2['Anh_1'][0] }}</div>
                        <div class="output-civic">{{ kq_Model2['GDCD_1'][0] }}</div>
                    </div>
                    <div class="semester"> Điểm học kỳ II</div>
                    <div class="subject-labels">
                        <span class="math-label">Điểm Toán</span>
                        <span class="literature-label">Điểm Văn</span>
                        <span class="physics-label">Điểm Lý</span>
                        <span class="chemistry-label">Điểm Hóa</span>
                        <span class="biology-label">Điểm Sinh</span>
                        <span class="history-label">Điểm Sử</span>
                        <span class="geography-label">Điểm Địa</span>
                        <span class="english-label">Điểm Anh</span>
                        <span class="civic-label">Điểm GDCD</span>
                    </div>
                    <div class="output">
                        <div class="output-math">{{ kq_Model2['Toán_2'][0] }}</div>
                        <div class="output-literature">{{ kq_Model2['Văn_2'][0] }}</div>
                        <div class="output-physics">{{ kq_Model2['Lý_2'][0] }}</div>
                        <div class="output-chemistry">{{ kq_Model2['Hoá_2'][0] }}</div>
                        <div class="output-biology">{{ kq_Model2['Sinh_2'][0] }}</div>
                        <div class="output-history">{{ kq_Model2['Sử_2'][0] }}</div>
                        <div class="output-geography">{{ kq_Model2['Địa_2'][0] }}</div>
                        <div class="output-english">{{ kq_Model2['Anh_2'][0] }}</div>
                        <div class="output-civic">{{ kq_Model2['GDCD_2'][0] }}</div>
                    </div>
                </div>
                <select id="imageDropdown2" onchange="showImage(2)">
                    <option value="">-- Xem thêm --</option>
                    <option value="{{ url_for('static', filename='images/MLP_accuracy.png') }}">Độ chính xác của Model</option>
                    <option value="{{ url_for('static', filename='images/MLP_Maths_1_12_spectrum.png') }}">Phổ điểm Toán HKI</option>
                    <option value="{{ url_for('static', filename='images/MLP_Literature_1_12_spectrum.png') }}">Phổ điểm Văn HKI</option>
                    <option value="{{ url_for('static', filename='images/MLP_Physics_1_12_spectrum.png') }}">Phổ điểm Lý HKI</option>
                    <option value="{{ url_for('static', filename='images/MLP_Chemistry_1_12_spectrum.png') }}">Phổ điểm Hóa HKI</option>
                    <option value="{{ url_for('static', filename='images/MLP_Biology_1_12_spectrum.png') }}">Phổ điểm Sinh HKI</option>
                    <option value="{{ url_for('static', filename='images/MLP_History_1_12_spectrum.png') }}">Phổ điểm Sử HKI</option>
                    <option value="{{ url_for('static', filename='images/MLP_Geography_1_12_spectrum.png') }}">Phổ điểm Địa HKI</option>
                    <option value="{{ url_for('static', filename='images/MLP_English_1_12_spectrum.png') }}">Phổ điểm Anh HKI</option>
                    <option value="{{ url_for('static', filename='images/MLP_Civic%20Education_1_12_spectrum.png') }}">Phổ điểm GDCD HKI</option>
                    <option value="{{ url_for('static', filename='images/MLP_Maths_2_12_spectrum.png') }}">Phổ điểm Toán HKII</option>
                    <option value="{{ url_for('static', filename='images/MLP_Literature_2_12_spectrum.png') }}">Phổ điểm Văn HKII</option>
                    <option value="{{ url_for('static', filename='images/MLP_Physics_2_12_spectrum.png') }}">Phổ điểm Lý HKII</option>
                    <option value="{{ url_for('static', filename='images/MLP_Chemistry_2_12_spectrum.png') }}">Phổ điểm Hóa HKII</option>
                    <option value="{{ url_for('static', filename='images/MLP_Biology_2_12_spectrum.png') }}">Phổ điểm Sinh HKII</option>
                    <option value="{{ url_for('static', filename='images/MLP_History_2_12_spectrum.png') }}">Phổ điểm Sử HKII</option>
                    <option value="{{ url_for('static', filename='images/MLP_Geography_2_12_spectrum.png') }}">Phổ điểm Địa HKII</option>
                    <option value="{{ url_for('static', filename='images/MLP_English_2_12_spectrum.png') }}">Phổ điểm Anh HKII</option>
                    <option value="{{ url_for('static', filename='images/MLP_Civic Education_2_12_spectrum.png') }}">Phổ điểm GDCD HKII</option>
                </select>
                <div id="showImageDropdown2" style="margin-top: 20px;">
                    <img class="data_analysis_img" id="displayedImage2" src="" alt="Chart" style="display: none;">
                </div>
                <div class="model3">
                    <div class="model-infor">Long Short Term Memory</div>
                    <div class="semester"> Điểm học kỳ I</div>
                    <div class="subject-labels">
                        <span class="math-label">Điểm Toán</span>
                        <span class="literature-label">Điểm Văn</span>
                        <span class="physics-label">Điểm Lý</span>
                        <span class="chemistry-label">Điểm Hóa</span>
                        <span class="biology-label">Điểm Sinh</span>
                        <span class="history-label">Điểm Sử</span>
                        <span class="geography-label">Điểm Địa</span>
                        <span class="english-label">Điểm Anh</span>
                        <span class="civic-label">Điểm GDCD</span>
                    </div>
                    <div class="output">
                        <div class="output-math">{{ kq_Model3['Toán_1'][0] }}</div>
                        <div class="output-literature">{{ kq_Model3['Văn_1'][0] }}</div>
                        <div class="output-physics">{{ kq_Model3['Lý_1'][0] }}</div>
                        <div class="output-chemistry">{{ kq_Model3['Hoá_1'][0] }}</div>
                        <div class="output-biology">{{ kq_Model3['Sinh_1'][0] }}</div>
                        <div class="output-history">{{ kq_Model3['Sử_1'][0] }}</div>
                        <div class="output-geography">{{ kq_Model3['Địa_1'][0] }}</div>
                        <div class="output-english">{{ kq_Model3['Anh_1'][0] }}</div>
                        <div class="output-civic">{{ kq_Model3['GDCD_1'][0] }}</div>

                    </div>
                    <div class="semester"> Điểm học kỳ II</div>
                    <div class="subject-labels">
                        <span class="math-label">Điểm Toán</span>
                        <span class="literature-label">Điểm Văn</span>
                        <span class="physics-label">Điểm Lý</span>
                        <span class="chemistry-label">Điểm Hóa</span>
                        <span class="biology-label">Điểm Sinh</span>
                        <span class="history-label">Điểm Sử</span>
                        <span class="geography-label">Điểm Địa</span>
                        <span class="english-label">Điểm Anh</span>
                        <span class="civic-label">Điểm GDCD</span>
                    </div>
                    <div class="output">
                        <div class="output-math">{{ kq_Model3['Toán_2'][0] }}</div>
                        <div class="output-literature">{{ kq_Model3['Văn_2'][0] }}</div>
                        <div class="output-physics">{{ kq_Model3['Lý_2'][0] }}</div>
                        <div class="output-chemistry">{{ kq_Model3['Hoá_2'][0] }}</div>
                        <div class="output-biology">{{ kq_Model3['Sinh_2'][0] }}</div>
                        <div class="output-history">{{ kq_Model3['Sử_2'][0] }}</div>
                        <div class="output-geography">{{ kq_Model3['Địa_2'][0] }}</div>
                        <div class="output-english">{{ kq_Model3['Anh_2'][0] }}</div>
                        <div class="output-civic">{{ kq_Model3['GDCD_2'][0] }}</div>
                    </div>
                </div>
                <select id="imageDropdown3" onchange="showImage(3)">
                    <option value="{{ url_for('static', filename='images/LSTM_accuracy.png') }}">Độ chính xác của Model</option>
                    <option value="{{ url_for('static', filename='images/LSTM_Maths_1_12_spectrum.png') }}">Phổ điểm Toán HKI</option>
                    <option value="{{ url_for('static', filename='images/LSTM_Literature_1_12_spectrum.png') }}">Phổ điểm Văn HKI</option>
                    <option value="{{ url_for('static', filename='images/LSTM_Physics_1_12_spectrum.png') }}">Phổ điểm Lý HKI</option>
                    <option value="{{ url_for('static', filename='images/LSTM_Chemistry_1_12_spectrum.png') }}">Phổ điểm Hóa HKI</option>
                    <option value="{{ url_for('static', filename='images/LSTM_Biology_1_12_spectrum.png') }}">Phổ điểm Sinh HKI</option>
                    <option value="{{ url_for('static', filename='images/LSTM_History_1_12_spectrum.png') }}">Phổ điểm Sử HKI</option>
                    <option value="{{ url_for('static', filename='images/LSTM_Geography_1_12_spectrum.png') }}">Phổ điểm Địa HKI</option>
                    <option value="{{ url_for('static', filename='images/LSTM_English_1_12_spectrum.png') }}">Phổ điểm Anh HKI</option>
                    <option value="{{ url_for('static', filename='images/LSTM_Civic%20Education_1_12_spectrum.png') }}">Phổ điểm GDCD HKI</option>
                    <option value="{{ url_for('static', filename='images/LSTM_Maths_2_12_spectrum.png') }}">Phổ điểm Toán HKII</option>
                    <option value="{{ url_for('static', filename='images/LSTM_Literature_2_12_spectrum.png') }}">Phổ điểm Văn HKII</option>
                    <option value="{{ url_for('static', filename='images/LSTM_Physics_2_12_spectrum.png') }}">Phổ điểm Lý HKII</option>
                    <option value="{{ url_for('static', filename='images/LSTM_Chemistry_2_12_spectrum.png') }}">Phổ điểm Hóa HKII</option>
                    <option value="{{ url_for('static', filename='images/LSTM_Biology_2_12_spectrum.png') }}">Phổ điểm Sinh HKII</option>
                    <option value="{{ url_for('static', filename='images/LSTM_History_2_12_spectrum.png') }}">Phổ điểm Sử HKII</option>
                    <option value="{{ url_for('static', filename='images/LSTM_Geography_2_12_spectrum.png') }}">Phổ điểm Địa HKII</option>
                    <option value="{{ url_for('static', filename='images/LSTM_English_2_12_spectrum.png') }}">Phổ điểm Anh HKII</option>
                    <option value="{{ url_for('static', filename='images/LSTM_Civic Education_2_12_spectrum.png') }}">Phổ điểm GDCD HKII</option>
                </select>
                <div id="showImageDropdown3" style="margin-top: 20px;">
                    <img class="data_analysis_img" id="displayedImage3" src="" alt="Chart" style="display: none;">
                </div>
                <div class="semester">So sánh độ chính xác của 3 model</div>
                <img class="data_analysis_img"  src="{{ url_for('static', filename='images/10_11_12_accuracy_comparison.png') }}" alt="Chart">
            </div>
            <div class="header-content">Phân tích dữ liệu</div>
            <div class="data_chart">
                <div class="semester">Phân bố dữ liệu đầu vào theo xếp loại và điểm</div>
                <div>
                    <img class="data_analysis_img"  src="{{ url_for('static', filename='images/10_11_12_evaluate_distribution.png') }}" alt="Chart">
                    <br>
                    <img class="data_analysis_img"  src="{{ url_for('static', filename='images/10_11_12_score_distribution.png') }}" alt="Chart">
                </div>
                <div class="semester">Ma trận tương quan</div>
                <img class="data_analysis_img"  src="{{ url_for('static', filename='images/10_11_12_correlations.png') }}" alt="Chart">
                <div class="tooltip">
                    (i)
                    <span class="tooltiptext">-Ma trận tương quan thể hiện mức độ liên hệ giữa dữ liệu.<br>-Càng gần 1 cho thấy 2 biến đầu vào ảnh hưởng đến nhau càng nhiều.<br>-Chỉ số tương quan âm cho thấy 2 biến đầu vào không có mối liên hệ.</span>
                </div>
                <div class="semester">Mối quan hệ giữa dữ liệu đầu vào và đầu ra</div>
                <select id="imageDropdown4" onchange="showImage(4)">
                    <option value="{{ url_for('static', filename='images/10_11_12_Maths_relationship_input_output.png') }}">Điểm Toán</option>
                    <option value="{{ url_for('static', filename='images/10_11_12_Literature_relationship_input_output.png') }}">Điểm Văn</option>
                    <option value="{{ url_for('static', filename='images/10_11_12_Physics_relationship_input_output.png') }}">Điểm Lý</option>
                    <option value="{{ url_for('static', filename='images/10_11_12_Chemistry_relationship_input_output.png') }}">Điểm Hóa</option>
                    <option value="{{ url_for('static', filename='images/10_11_12_Biology_relationship_input_output.png') }}">Điểm Sinh</option>
                    <option value="{{ url_for('static', filename='images/10_11_12_History_relationship_input_output.png') }}">Điểm Sử</option>
                    <option value="{{ url_for('static', filename='images/10_11_12_Geography_relationship_input_output.png') }}">Điểm Địa</option>
                    <option value="{{ url_for('static', filename='images/10_11_12_English_relationship_input_output.png') }}">Điểm Anh</option>
                    <option value="{{ url_for('static', filename='images/10_11_12_Civic Education_relationship_input_output.png') }}">Điểm GDCD</option>
                </select>
                <div id="showImageDropdown4" style="margin-top: 20px;">
                    <img class="data_analysis_img" id="displayedImage4" src="{{ url_for('static', filename='images/10_11_12_Maths_relationship_input_output.png') }}" alt="Chart">
                    <div class="tooltip">
                        (i)
                        <span class="tooltiptext">-Mỗi điểm thể hiện cho 1 học sinh.<br>-Càng gần trục cho thấy dữ liệu đầu vào và ra càng giống nhau.<br>-Càng xa trục cho thấy dữ liệu đầu vào và ra càng khác nhau.</span>
                    </div>
            </div>
        </div>
        <button class="btn-view-results" onclick="goBack()">
            <div class="btn-view-content"></div>
            <span class="btn-view-text">Trở về</span>
        </button>
    </div>
</body>
</html>
